basePath: /api
definitions:
  controllers.responseFormat:
    properties:
      message: {}
    type: object
host: imgproxy.sidesideeffect.io
info:
  contact:
    email: nocvi111@gmail.com
    name: sidesideeffect.io
    url: https://github.com/shlason/imgproxy
  description: This is a sample server celler server.
  license:
    name: MIT
    url: https://github.com/shlason/imgproxy/blob/main/LICENSE
  title: Image-Proxy Example API
  version: "1.0"
paths:
  /image:
    get:
      consumes:
      - application/json
      description: 抓取由指定參數所處理過後的圖片
      parameters:
      - description: Image URL
        in: query
        name: url
        required: true
        type: string
      - description: Desire Width
        in: query
        name: width
        required: true
        type: string
      - description: Desire height
        in: query
        name: height
        required: true
        type: string
      - description: fit or fill
        in: query
        name: resize
        required: true
        type: string
      - description: Desire blur
        in: query
        name: blur
        required: true
        type: string
      produces:
      - image/*
      responses:
        "200":
          description: image/png
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/controllers.responseFormat'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/controllers.responseFormat'
      summary: 抓取圖片
      tags:
      - image
swagger: "2.0"
