{
    "swagger": "2.0",
    "info": {
        "description": "This is a sample server celler server.",
        "title": "Image-Proxy Example API",
        "contact": {
            "name": "sidesideeffect.io",
            "url": "https://github.com/shlason/imgproxy",
            "email": "nocvi111@gmail.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://github.com/shlason/imgproxy/blob/main/LICENSE"
        },
        "version": "1.0"
    },
    "host": "imgproxy.sidesideeffect.io",
    "basePath": "/api",
    "paths": {
        "/image": {
            "get": {
                "description": "抓取由指定參數所處理過後的圖片",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "image/*"
                ],
                "tags": [
                    "image"
                ],
                "summary": "抓取圖片",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Image URL",
                        "name": "url",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Desire Width",
                        "name": "width",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Desire height",
                        "name": "height",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "fit or fill",
                        "name": "resize",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Desire blur",
                        "name": "blur",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "image/png",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/controllers.responseFormat"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.responseFormat"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "controllers.responseFormat": {
            "type": "object",
            "properties": {
                "message": {}
            }
        }
    }
}